@import "tailwindcss";

@theme {
  --font-sans: "Geist", sans-serif;
  --font-mono: "Geist Mono", "JetBrains Mono", monospace;
}

html {
  scroll-behavior: smooth;
}

pre {
  font-family: var(--font-mono);
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: oklch(0.272 0.006 286.033);
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: oklch(0.373 0.034 259.733);
}

/* JSON syntax highlight */
.json-key {
  color: #7dd3fc;
}
.json-string {
  color: #86efac;
}
.json-number {
  color: #fde68a;
}
.json-boolean {
  color: #c4b5fd;
}
.json-null {
  color: #a1a1aa;
}
.json-bracket {
  color: #e4e4e7;
}
